/* Range Slider Styles */
.range-slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0rem;
    margin: 1rem 0;
    padding: 0;
    border-radius: 4px;
    width: 100%;
}

.range-slider {
    flex: 1;
    -webkit-appearance: none;
    height: 6px;
    border-radius: 3px;
    background: rgba(0,0,0, 0.2);
    border: none;
    outline: none;
    transition: all 0.2s ease;
    margin: 0;
    padding: 0;
    min-width: 0;
    position: relative;
    overflow: visible;
    --slider-progress: 50%;
    padding: 3px 0;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        top: -6px;
        border-radius: 50%;
        background: var(--color-primary);
        cursor: pointer;
        transition: all 0.2s ease;
        position: relative;
        z-index: 2;
    }

    &::-moz-range-thumb {
        width: 18px;
        height: 18px;
        top: -6px;
        border-radius: 50%;
        background: var(--color-primary);
        cursor: pointer;
        border: none;
        transition: all 0.2s ease;
        position: relative;
        z-index: 2;
    }

    &::-webkit-slider-runnable-track {
        background: var(--color-gray-200);
        height: 6px;
        top: -6px;
        border-radius: 3px;
    }

    &::-moz-range-track {
        background: var(--color-gray-200);
        height: 6px;
        top: -6px;
        border-radius: 3px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--slider-progress);
        height: 6px;
        background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
        border-radius: 3px;
        z-index: 1;
    }
}

.range-input {
    min-width: 70px;
    width: 70px;
    padding: 0.25rem;
    margin: 0 0 0 0.5rem;
    flex-shrink: 0;
}
